
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarExample01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Flavors">Flavors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Treats">Treats</a>
          </li>
        </ul>
        @if (User.Identity.IsAuthenticated)
          {
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link" href="/Account">Account <i class="bi bi-person-circle"></i></a>
            </li>
          </ul>
          }
      </div>
    </div>
  </nav>
  <div class="p-5 text-center bg-light">
      <h2 class="display-4 lh-1 mb-4">Pierre's Sweet and Savory Treats</h2>
      <p class="lead fw-normal text-muted mb-5 mb-lg-0">Flavor/Treat Management System</p>
  </div>
</header>