#footer {
  position: fixed;
  bottom: 4rem;
  width: 100%;
  height: 2.5rem;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 7rem;
}

.bg-light {
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 3%;
}

h1,
h2,
h3 {
  text-align: center;
}

#button-one {
  margin-left: 50%;
}

#button-two {
  margin-left: 50%;
}
