@{
  Layout = "_Layout";
}

@using TreatShop.ViewModels

@model LoginViewModel

@using (Html.BeginForm())
{
    <section id="login-page">
      <div class="container-lg">
        <div class="text-center">
          <h2>Login To Your Account</h2>
          <p class="lead">Login To Gain Create, Update, & Delete Access!</p>
        </div>
        <div class="row justify-content-center my-5">
          <div class="col-lg-6">
            <form>
              <label for="email" class="form-label">Email Address:</label>
              <div class="input-group mb-4">
                <span class="input-group-text">
                  <i class="bi bi-envelope-fill"></i>
                </span>
                  @Html.TextBoxFor(m=> m.Email, new { @class="form-control" })
                <span class="input-group-text">
                  <span class="tt" data-bs-placement="bottom" title="Please enter an email address">
                    <i class="bi bi-question-circle text-muted"></i>
                  </span>
                </span>
              </div>

              <label for="password" class="form-label">Password:</label>
              <div class="input-group mb-4">
                <span class="input-group-text">
                  <i class="bi bi-file-lock2-fill"></i>
                </span>
                  @Html.PasswordFor(m=> m.Password, new { @class="form-control" }) 
                <span class="input-group-text">
                  <span class="tt" data-bs-placement="bottom" title="Pretty self explanatory really...">
                    <i class="bi bi-question-circle text-muted"></i>
                  </span>
                </span>
              </div>

              <div class="mb-4 text-center">
                <input type="submit" value="Log In" class="btn btn-primary" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
}