@{
  Layout = "_Layout";
}

@model TreatShop.Models.Treat

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TreatId)
    <section id="login-page">
      <div class="container-lg">
        <div class="text-center">
          <h2>Add Flavor To @Html.DisplayFor(model => model.Name)</h2>
          <p class="lead">Enter Additional Treat Flavors Here!</p>
        </div>
        <div class="row justify-content-center my-5">
          <div class="col-lg-6">
            <form>
              <label for="flavor" class="form-label">Flavor</label>
              <div class="input-group mb-4">
                <span class="input-group-text">
                  <i class="bi bi-heart-fill"></i>
                </span>
                  @Html.DropDownList("FlavorId", (IEnumerable<SelectListItem>)ViewBag.FlavorId, "Please Select Flavor", new { @class="form-control" }) 
              </div>
              <div class="mb-4 text-center">
                <input type="submit" value="Add Flavor" class="btn btn-primary" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
}