@{
  Layout = "_Layout";
}

@model TreatShop.Models.Treat

@using (Html.BeginForm())
{
@Html.HiddenFor(model => model.TreatId)

 <section id="login-page">
      <div class="container-lg">
        <div class="text-center">
          <h2>Edit Treat</h2>
          <p class="lead">Edit Treat Details From The Following Options!</p>
        </div>
        <div class="row justify-content-center my-5">
          <div class="col-lg-6">
            <form>
              <label for="email" class="form-label">Name</label>
              <div class="input-group mb-4">
                <span class="input-group-text">
                  <i class="bi bi-person-fill"></i>
                </span>
                  @Html.TextBoxFor(model=> model.Name, new { @class="form-control" })
              </div>

              <label for="password" class="form-label">Add Flavor</label>
              <div class="input-group mb-4">
                <span class="input-group-text">
                  <i class="bi bi-heart-fill"></i>
                </span>
                  @Html.DropDownList("FlavorId", (IEnumerable<SelectListItem>)ViewBag.FlavorId, "Please Select Flavor", new { @class="form-control" }) 
              </div>
              <div class="mb-4 text-center">
                <input type="submit" value="Save" class="btn btn-primary" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
}