@{
  Layout = "_Layout";
}

@using TreatShop.Models;
@model List<TreatShop.Models.Treat>;

<h1>Treats for @User.Identity.Name</h1>

@if (@Model.Any())
{
  @foreach (Treat treat in Model)
  {
      <section class="bg-light">
      <div class="container px-5">
          <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
              <div class="col-12 col-lg-5">
                  <p class="lead fw-normal text-muted mb-5 mb-lg-0">@Html.ActionLink($"{treat.Name}", "Details", new { id = treat.TreatId })</p>
              </div>
          </div>
      </div>
    </section>

  }
} 
else
{
<p>@Html.ActionLink("Add New Treat", "Create", routeValues: null, htmlAttributes: new { @class = "btn btn-primary", @role="button" })</p>
  <section class="bg-light">
      <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
            <div class="col-12 col-lg-5">
                <p class="lead fw-normal text-muted mb-5 mb-lg-0">No treats have been added yet!</p>
            </div>
        </div>
    </div>
  </section>
}