@{
  Layout = "_Layout";
}
<section class="bg-light">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
            <div class="col-12 col-lg-5">
                <h2 class="display-4 lh-1 mb-4">Welcome to Pierre's Pastry Management System!</h2>
                <p class="lead fw-normal text-muted mb-5 mb-lg-0">This application allows Pierre to manage his pastries and pastry flavor profiles.</p>
            </div>
            <div class="col-sm-8 col-md-6">
                <div class="px-5 px-sm-0"><img class="img-fluid rounded-circle" src="https://blush.design/api/download?shareUri=W3uHqRU7BBMM42mB&c=Backdrop_0%7Ebeb0e4_Hair_0%7Ee8e1e1_Skin_0%7Eeac7a8_Top_0%7Ee65f5e&w=800&h=800&fm=png" alt="..." /></div>
            </div>
          <div class="col-12 col-lg-8 col-sm-12">
            @Html.ActionLink("View All Flavors & Treats", "Index", "ViewAll", routeValues: null, htmlAttributes: new { @class = "btn btn-primary", @role="button" })
            @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-primary", @role="button" })
            @Html.ActionLink("Create New Account", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-primary", @role="button" })
          </div>
        </div>
    </div>
</section>